a {
	color: #ffffff;
	text-transform: uppercase;
	font-variant: normal;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
a:hover {
	background-color: #1918180b;
}
body {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	color: #ffffff;
	text-transform: uppercase;
	font-variant: small-caps;
	background-color: #191818e8;
	width: 980px;
	margin-left: auto;
	margin-right: auto;

}
#home {
	text-align: right;
	vertical-align: top;
}
p {
	text-transform: none;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	text-decoration: none;
	color: #ffffff;
	font-variant: normal;
}
ul {
	text-transform: none;
	font-variant: normal;
}
.oddRow {
	background-color: #8d8e8b;
}
.lightRow {
	background-color: #8d8e8b;
}